@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Oswald:wght@200..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.active {
  background-color: #55a349;
  color: white;
}

.active:hover {
  color: black;
}

.customer_box {
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  width: 176px;
  height: 82px;
  flex-shrink: 0;
}

.unwanted_scroll::-webkit-scrollbar {
  display: none;
}

.shadow_card {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

.listing_modal {
  background-color: rgba(0, 0, 0, 0.25);
}
